
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	.current{
	 float:right;
 	text-align: right;	
	}
}




table {
    width:100%;
overflow-x: hidden;
}

h2{
  color: #ff7f50;  
}

h1{
 color: #ff7f50;    
}


/* navigation bar */


.NavMenu{	
  text-transform: uppercase;
  color: black;
}

.NavMenu a{
   text-decoration: none;
    background: linear-gradient( #fd7e14, white);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;	
}

.NavMenu a:hover, a:focus {	
   text-decoration: none;
    background-size: 100% 2px;
}


/*
.NavMenu {
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
}
.NavMenu * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.NavMenu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.NavMenu a {
  padding: 0.3em 0;
  color: #212121;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
font-size:15px;
}
.NavMenu a:before,
.NavMenu a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.NavMenu a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.NavMenu a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: #212121;
  white-space: nowrap;
}
.NavMenu .hover a,
.NavMenu .current a {
  transform: translateY(100%);
}
*/

.left{
 float:right;
 text-align: right;
}
